@using TechNews.Utility.DateConvertor
@model TechNews.DataLayer.Entities.User

@{
    ViewData["Title"] = "حساب کاربری من";
}

<h1>اطلاعات حساب کاربری</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfilePhoto)
        </dt>
        <dd class = "col-sm-10">
            <img src="/img/users/@Model.ProfilePhoto" class="img-thumbnail profile-user-img"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>
        <dd class = "col-sm-10">
            <span>@Model.RegisterDate.ToShamsiDate()</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleId)
        </dt>
        <dd class = "col-sm-10">
            <span>نویسنده</span>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Home">بازگشت به پنل نویسنده</a>
</div>