@model TechNews.DataLayer.Entities.Category

@{
    ViewData["Title"] = "جزئیات";
}

<h1>جزئیات دسته بندی</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryTitle)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.CategoryId">ویرایش</a>
    <a asp-action="Index">بازگشت به لیست</a>
</div>
