@using TechNews.Utility.DateConvertor
@model TechNews.DataLayer.Entities.Ticket

@{
    ViewData["Title"] = "جزئیات";
}

<h1>جزئیات تیکت</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserIpAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserIpAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketSubmitDate)
        </dt>
        <dd class = "col-sm-10">
            <span>@Model.TicketSubmitDate.ToShamsiDate()</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketUniqueCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketUniqueCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAnswered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAnswered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerSubmitDate)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.AnswerSubmitDate != null)
            {
                <span>@Model.AnswerSubmitDate.Value.ToShamsiDate()</span>    
            }
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-outline-warning" asp-action="Edit" asp-route-id="@Model.TicketId">ویرایش</a>&nbsp;|
    <a asp-action="Index">بازگشت به لیست تیکت ها</a>
</div>
