@using TechNews.Utility.DateConvertor
@model TechNews.DataLayer.Entities.Review

@{
    ViewData["Title"] = "جزئیات";
}

<h1>جزئیات نظر</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserIpAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserIpAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewDate)
        </dt>
        <dd class = "col-sm-10">
            <span>@Model.ReviewDate.ToShamsiDate()</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPublished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LikeCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LikeCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DislikeCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DislikeCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-outline-warning" asp-action="Edit" asp-controller="Review" asp-route-itemId="@Model.ItemId">تغییر وضعیت</a>
    <a asp-action="Create" asp-route-itemId="@Model.ItemId" asp-route-reviewId="@Model.ReviewId" class="btn btn-sm btn-outline-info">افزودن پاسخ</a>
    <a asp-action="Index" asp-controller="Review" asp-route-itemId="@Model.ItemId">بازگشت به لیست</a>
</div>
